<h1>About Stock Manager</h1>
<p>
	StockManager is a web application (WEB 2.0) that helps you to take under control your sales, purchases, customers and providers information.
</p>

<h2>Simple Use</h2>
<p>
	Stock Manager is easy to use. It brings to you the most friendly user interface so that you can start using it right away after registration.
</p>
<p>
	The main purpose is that you control your stock in few steps. We give you the best experience when it's time to work with adminsitration.
</p>
<h2>Control anywhere</h2>
<p>
	Due to Stock Manager is a web application, you are able to log into stockmanager.com anytime, anywhere to control your stock. No place limits.
</p>

<h2>Advanced Graphics</h2>
<p>
	With the advanced graphics and statistics always have a general vision of your business.
</p>

<h2>Never get Out-Stocked</h2>
<p>
	Everytime you have a sale, Stock Manager will check the existance of your products. If you need to ask for more, you will receive an email alerting that you are running out of stock.
</p>

<h2>Multiple Stores</h2>
<p>
	You own more than one store? No problem, you will be able to control each of them with stock manager.
</p>
