<h1>Edit my account</h1>
<% form_for @user, :url=>account_path do |t| %>
	<%= t.error_messages %>
	<%= render :partial=>'form', :object=>t %>
	<%= t.submit "Actualizar" %> | <%= link_to "Regresar", :back %>
<% end %> 
